@import "tailwindcss";

:root {
  --font-germania: "Germania One", cursive;
  --font-ibmPlexMono: "IBM Plex Mono", monospace; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-logo: var(--font-germania);
  --font-txt: var(--font-ibmPlexMono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


